<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<h1> CART CONTENT CONTAINER its lit </h1>
<body>
<div class='container'>
    <%= react_component('CartApp', {}) %>
</div>
</body>