.index_header {
    color: white;
    padding-bottom: 5px;
    -webkit-transition: background-color 0.5s;
}

.background_img {
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url('http://i67.tinypic.com/28veslg.jpg') no-repeat center center fixed;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
}

#enter_shop {
    position: absolute;
    border-color: white;
    color: white;
    background-color: transparent;
    left: 50%;
    top: 80%;
    margin: 0;
    transform: translate(-50%, -50%);
    &:hover {
        background-color: rgba(255, 255, 255, 0.25);
    }
}
