.container {
    // overflow: scroll;
    padding-left: 6%;
    padding-right: 6%;
}

ul.items_list {
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    li {
        margin: 1%;
        display: inline-block;
        width: 15.625em;
        height: 15.625em;
        border:1px solid black;
        
        div.itembox_container {
            width: 100%;
            height: 100%;
            div.item_desc {
                text-align: center;
                position: absolute;
                width: 15.625em;
                height: 15.625em;
                color: rgba(0, 0, 0, 0.0);
                &:hover {
                    color: rgba(0, 0, 0, 1.0);
                    background: rgba(255, 255, 255, 0.5);
                }
                p {
                    font-family: 'Raleway', sans-serif;
                    font-size: 15px;
                    margin: 0px;
                    margin-top: 45%;
                    letter-spacing: 1px;
                }
            }
            img {
                height: inherit;
                width: inherit;
                z-index: -1;
            }
        }
    }
}

.no_background{
    background-image:none !important;
}