<!--<div class="main_image">-->
<!--    <img src="http://www.adweek.com/files/imagecache/node-detail/news_article/tt-dorito-dog-days-hed2-2013.jpg">-->
<!--</div>-->
<div class="navigation">
    <ul>
        <%= link_to 'Originals', shop_page_path('Originals') %>
        <%= link_to 'Women', shop_page_path('Women') %>
        <%= link_to 'Men', shop_page_path('Men') %>
        <%= link_to 'About', shop_page_path('About') %>
    </ul>
</div>
<h1> INDEX ROOT PAGE </h1>