<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Raleway" rel="stylesheet">
</head>
<body>
    <div class="meta_container">
        <div class="header_container">
            <div class="header">
                <a href="/shop/">SHOP SPERO</a>
            </div>
        </div>
    </div>
    

<%= yield %>

</body>
</html>
